.special-button-plus {
  color: rgb(0, 187, 25);
  background: rgba(255, 255, 255, 0);
  border: 0;
  /* font-size: inherit; */
  /* font-weight: inherit; */
}

.special-button-plus:hover {
  opacity: 0.5;
}
