.character-info > div {
  padding: 5px 0;
}

@media only screen and (max-width: 1024px) {
  .special-book {
    display: flex;
  }
}

.spec-book-checkboxes {
  display: flex;
}

.held-perk-points {
  display: flex;
  justify-content: space-between;
}
