.special-button-minus {
  color: rgb(255, 0, 0);
  background: rgba(255, 255, 255, 0);
  border: 0;
  /* font-size: inherit; */
  /* font-weight: inherit; */
}

.special-button-minus:hover {
  opacity: 0.5;
}