.perk-overlay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 23%;
  color: white;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 2.5%;
}

/* adjusts perk overlay to improve readability on small-vertival mobile devices */
@media only screen and (max-width: 550px) {
  .perk-overlay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 35%;
    color: white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 2.5%
  }

  .total-ranks {
      display: none;
  }
}
