.perk-overlay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
    max-height: 25%;
    padding: 2px 0;
    font-size: 1em;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
}