.perk-overlay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 22%;
    /* font-size: inherit; */
    /* font-weight: bold; */
    color: white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 2.5%
}