.perk-button-minus {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 0);
  background: rgba(255, 255, 255, 0);
  height: 80%;
  width: 30%;
  margin-right: 5%;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
}

.perk-button-minus:hover {
    background-color: #aaaaaa;
}
