.special-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-name {
  font-weight: bolder;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  width: 100%;
}

.score {
  font-weight: normal;
}

.bobblehead {
  display: flex;
  align-items: center;
  font-size: 14px;
}
