.special-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-name {
  /* font-weight: inherit; */
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* font-size: inherit; */
  /* font-weight: inherit; */
  width: 100%;
}

.bobblehead {
  /* font-weight: normal; */
}
