* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  margin: 15px;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 30% 70%;
}
