.rank {
  display: flex;
  margin: 6px 0;
  /* background-color: chartreuse; */
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.lvl-required {
  font-weight: bold;
  min-width: 45px;
  text-align: start;
}

.rank-description {
  text-align: start;
}
