.perk-img {
  display: flex;
}

.perk-img > img {
  width: 110px;
  height: 110px;
}
.perk-img > img:hover {
  opacity: 0.7;
}

.unavailable > img {
  opacity: 0.2;
}
.unavailable > img:hover {
  opacity: 0.2;
}
